input {
    width: 90%;
    margin: 0;

}

table {
    height: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: center;
    max-width: 1230px;
    margin: 0 auto;
}

caption {
    caption-side: top;
    text-align: left;
}

th {
    border: 1px solid #dededf11;
    background-color: #eceff110;
    padding: 5px;
}

td {
    border: 1px solid #dededf11;
    padding: 5px;
}

tr:nth-child(even) td {
    background-color: #f4f6f811;
}

tr:nth-child(odd) td {
    background-color: #ffffff15;
}

td:last-child {
    background-color: transparent !important;
    border: none;
    width: 3px;
    opacity: .1;
    transition: all ease-in-out 2ms;
}

td:last-child:hover {
    opacity: 1;
}