.header {
    position: absolute;
    top: 0;
    border-bottom: 1px solid gray;
    background-color: var(--clr-bg-1);
    padding-bottom: 0.6em;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1em;
}