:root {
  --clr-bg-1: #121212;
  --clr-bg-2: #1a1a1a;
  --clr-bg-3: #242424;
  --clr-bg-4: #ffffff;
  --clr-bg-5: #f9f9f9;
  --clr-txt-1: #646cff;
  --clr-txt-2: #535bf2;
  --clr-txt-3: #747bff;
  --clr-txt-4: #213547;
  --clr-txt-5: rgba(255, 255, 255, 0.87);
  --border-rad-1: 12px;
  --border-rad-2: 8px;
  --border-rad-3: 30px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--clr-txt-5);
  background-color: var(--clr-bg-1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}