:root {

  --clr-bg-1: #121212;
  --clr-bg-2: #1a1a1a;
  --clr-bg-3: #242424;
  --clr-bg-4: #ffffff;
  --clr-bg-5: #f9f9f9;
  --clr-txt-1: #646cff;
  --clr-txt-2: #535bf2;
  --clr-txt-3: #747bff;
  --clr-txt-4: #213547;
  --clr-txt-5: rgba(255, 255, 255, 0.87);
  --border-rad-1: 12px;
  --border-rad-2: 8px;
  --border-rad-3: 30px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--clr-txt-5);
  background-color: var(--clr-bg-1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  font-weight: 500;
  color: var(--clr-txt-1);
  text-decoration: inherit;
}

a:hover {
  color: var(--clr-txt-2);
}

p a,
p span {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: var(--border-rad-2);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--clr-txt-1);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: .5em;
  align-items: center;
}

form button {
  width: auto;
}

form input,
textarea {
  padding: .6em;
  border-radius: 2px;
  width: 255px;
}

.hidden {
  display: none;
  visibility: hidden;
  opacity: 1;
}

table {
  text-transform: capitalize;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--clr-txt-4);
    background-color: var(--clr-bg-4);
  }

  a:hover {
    color: var(--clr-txt-3);
  }

  button {
    background-color: var(--clr-bg-5);
  }
}